@charset "UTF-8";
/* core */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*GRID - media queries breakpoints*/
:root {
  --pdsection: 9rem 0;
  --headerheight: 8rem;
  --fstitle: 10rem;
}

@-ms-viewport {
  width: device-width;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  max-width: 1920px;
  margin: auto;
}

/**************** LIST Table of Contents *****************/
/*
	1, flexbox 
	2, position (absolute/relative á)
	3, font
	4, overtext (cái line-clamp á)
	5, box (width/height á)
	7, order
	7, border (làm border-radius/border á)
	8, temposcreen (opacity/pointer-event á)

*/
/****************                         *****************/
flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

.pswp__button {
  width: 44px;
  height: 44px;
  position: relative;
  background: none;
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  float: right;
  opacity: 0.75;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.pswp__button:focus, .pswp__button:hover {
  opacity: 1;
}

.pswp__button:active {
  outline: none;
  opacity: 0.9;
}

.pswp__button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.pswp__ui--over-close .pswp__button--close {
  opacity: 1;
}

.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  background: url(../../../image/default-skin.png) 0 0 no-repeat;
  background-size: 264px 88px;
  width: 44px;
  height: 44px;
}

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  .pswp--svg .pswp__button,
  .pswp--svg .pswp__button--arrow--left:before,
  .pswp--svg .pswp__button--arrow--right:before {
    background-image: url(../../../image/default-skin.svg);
  }
  .pswp--svg .pswp__button--arrow--left,
  .pswp--svg .pswp__button--arrow--right {
    background: none;
  }
}

.pswp__button--close {
  background-position: 0 -44px;
}

.pswp__button--share {
  background-position: -44px -44px;
}

.pswp__button--fs {
  display: none;
}

.pswp--supports-fs .pswp__button--fs {
  display: block;
}

.pswp--fs .pswp__button--fs {
  background-position: -44px 0;
}

.pswp__button--zoom {
  display: none;
  background-position: -88px 0;
}

.pswp--zoom-allowed .pswp__button--zoom {
  display: block;
}

.pswp--zoomed-in .pswp__button--zoom {
  background-position: -132px 0;
}

.pswp--touch .pswp__button--arrow--left,
.pswp--touch .pswp__button--arrow--right {
  visibility: hidden;
}

.pswp__button--arrow--left,
.pswp__button--arrow--right {
  background: none;
  top: 50%;
  margin-top: -50px;
  width: 70px;
  height: 100px;
  position: absolute;
}

.pswp__button--arrow--left {
  left: 0;
}

.pswp__button--arrow--right {
  right: 0;
}

.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  content: '';
  top: 35px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 32px;
  position: absolute;
}

.pswp__button--arrow--left:before {
  left: 6px;
  background-position: -138px -44px;
}

.pswp__button--arrow--right:before {
  right: 6px;
  background-position: -94px -44px;
}

.pswp__counter,
.pswp__share-modal {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pswp__share-modal {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  z-index: 1600;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  -webkit-backface-visibility: hidden;
  will-change: opacity;
}

.pswp__share-modal--hidden {
  display: none;
}

.pswp__share-tooltip {
  z-index: 1620;
  position: absolute;
  background: #FFF;
  top: 56px;
  border-radius: 2px;
  display: block;
  width: auto;
  right: 44px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-backface-visibility: hidden;
  will-change: transform;
}

.pswp__share-tooltip a {
  display: block;
  padding: 8px 12px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
}

.pswp__share-tooltip a:hover {
  text-decoration: none;
  color: #000;
}

.pswp__share-tooltip a:first-child {
  border-radius: 2px 2px 0 0;
}

.pswp__share-tooltip a:last-child {
  border-radius: 0 0 2px 2px;
}

.pswp__share-modal--fade-in {
  opacity: 1;
}

.pswp__share-modal--fade-in .pswp__share-tooltip {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.pswp--touch .pswp__share-tooltip a {
  padding: 16px 12px;
}

a.pswp__share--facebook:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -12px;
  right: 15px;
  border: 6px solid transparent;
  border-bottom-color: #FFF;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}

a.pswp__share--facebook:hover {
  background: #3E5C9A;
  color: #FFF;
}

a.pswp__share--facebook:hover:before {
  border-bottom-color: #3E5C9A;
}

a.pswp__share--twitter:hover {
  background: #55ACEE;
  color: #FFF;
}

a.pswp__share--pinterest:hover {
  background: #CCC;
  color: #CE272D;
}

a.pswp__share--download:hover {
  background: #DDD;
}

.pswp__counter {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  font-size: 13px;
  line-height: 44px;
  color: #FFF;
  opacity: 0.75;
  padding: 0 10px;
}

.pswp__caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 44px;
}

.pswp__caption small {
  font-size: 11px;
  color: #BBB;
}

.pswp__caption__center {
  text-align: left;
  max-width: 420px;
  margin: 0 auto;
  font-size: 13px;
  padding: 10px;
  line-height: 20px;
  color: #CCC;
}

.pswp__caption--empty {
  display: none;
}

.pswp__caption--fake {
  visibility: hidden;
}

.pswp__preloader {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -22px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  will-change: opacity;
  direction: ltr;
}

.pswp__preloader__icn {
  width: 20px;
  height: 20px;
  margin: 12px;
}

.pswp__preloader--active {
  opacity: 1;
}

.pswp__preloader--active .pswp__preloader__icn {
  background: url(../../../image/preloader.gif) 0 0 no-repeat center;
}

.pswp--css_animation .pswp__preloader--active {
  opacity: 1;
}

.pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
  -webkit-animation: clockwise 500ms linear infinite;
  animation: clockwise 500ms linear infinite;
}

.pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
  -webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
  animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
}

.pswp--css_animation .pswp__preloader__icn {
  background: none;
  opacity: 0.75;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
}

.pswp--css_animation .pswp__preloader__cut {
  position: relative;
  width: 7px;
  height: 14px;
  overflow: hidden;
}

.pswp--css_animation .pswp__preloader__donut {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 2px solid #FFF;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .pswp__preloader {
    position: relative;
    left: auto;
    top: auto;
    margin: 0;
    float: right;
  }
}

@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes donut-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-140deg);
    transform: rotate(-140deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@keyframes donut-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-140deg);
    transform: rotate(-140deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

.pswp__ui {
  -webkit-font-smoothing: auto;
  visibility: visible;
  opacity: 1;
  z-index: 1550;
}

.pswp__top-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  width: 100%;
}

.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  -webkit-backface-visibility: hidden;
  will-change: opacity;
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  visibility: visible;
}

.pswp__top-bar,
.pswp__caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
  background-color: rgba(0, 0, 0, 0.3);
}

.pswp__ui--idle .pswp__top-bar {
  opacity: 0;
}

.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
  opacity: 0;
}

.pswp__ui--hidden .pswp__top-bar,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right {
  opacity: 0.001;
}

.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
  display: none;
}

.pswp__element--disabled {
  display: none !important;
}

.pswp--minimal--dark .pswp__top-bar {
  background: none;
}

.container-fluid {
  padding: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  padding: 0 3rem;
  width: 100%;
}

/**************** LIST Table of Contents *****************/
/*
1 --rowreverse 
2 --columnreverse
3 --hidden
4 --coppy
5 --pd
*/
/****************                         *****************/
.--rowreverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.--columnreverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.--hidden {
  display: none;
  background-color: red;
}

.--coppy {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.--pd {
  padding: 9rem 0;
}

/* pages */
.header {
  width: 100%;
  height: --headerheight;
  position: fixed;
  left: 0;
  right: auto;
  top: 0;
  padding: 2rem 0;
  z-index: 100;
}

.header__logo img {
  width: 18rem;
}

.header__navbar ul {
  width: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__navbar ul li {
  height: 100%;
}

.header__navbar ul li a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  color: #fff;
  font-family: Pb;
  text-transform: uppercase;
  text-decoration: none;
  height: 100%;
  margin: 0 2.5rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.header__language {
  height: 100%;
}

.header__language__box {
  width: 100%;
  position: relative;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__language__box-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  color: #fff;
  font-family: Pb;
  text-transform: uppercase;
  cursor: pointer;
}

.header__language__box-select img {
  max-width: 35%;
}

.header__language__box-select:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #bea67c;
}

.header__language__box-option {
  position: absolute;
  left: 0;
  right: auto;
  top: 100%;
  opacity: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
  width: 100%;
  background-color: #bea67c;
  text-align: center;
}

.header__language__box-option a {
  font-size: 1.5rem;
  color: #fff;
  font-family: Pr;
  text-transform: normal;
  padding: .5rem 0rem;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.header__language__box-option a:hover {
  -webkit-transition: .5s;
  transition: .5s;
  background-color: black;
}

.header__language__box-mobile {
  position: relative;
  margin-right: 1rem;
  padding: 1.1rem 1.3rem;
  display: none;
}

.header__language__box-mobile span {
  width: 2.5rem;
  height: 0.2rem;
  position: absolute;
  left: auto;
  right: 0;
  top: 0.1rem;
  background-color: #bea67c;
}

.header__language__box-mobile::before {
  content: '';
  width: 2.5rem;
  height: 0.2rem;
  position: absolute;
  left: auto;
  right: 0;
  top: 1rem;
  background-color: #bea67c;
}

.header__language__box-mobile::after {
  content: '';
  width: 2.5rem;
  height: 0.2rem;
  position: absolute;
  left: auto;
  right: 0;
  top: 2rem;
  background-color: #bea67c;
}

@media screen and (max-width: 991px) {
  .header .header__logo img {
    width: 13rem;
  }
  .header .header__navbar ul {
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 867px) {
  .header .header__logo img {
    width: 12rem;
  }
}

@media screen and (max-width: 767px) {
  .header .header__logo img {
    width: 15rem;
  }
  .header .header__navbar {
    display: none;
  }
  .header .header__language__box-select {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transform: translateX(-75%);
            transform: translateX(-75%);
  }
  .header .header__language__box-option {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .header .header__language__box-mobile {
    display: block;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    position: absolute;
    left: 0;
    margin: 0;
  }
}

.mobilemenu {
  width: 100%;
  height: 100vh;
  background: #303030;
  opacity: 0;
  z-index: 90;
  position: fixed;
  pointer-events: none;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.mobilemenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  list-style: none;
  height: 100%;
}

.mobilemenu ul li {
  padding: 1rem 0;
}

.mobilemenu ul li a {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.mobilemenu ul li a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #bea67c;
}

.mobileshow {
  opacity: 1 !important;
  pointer-events: auto !important;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.active {
  opacity: 1 !important;
  pointer-events: auto !important;
}

.screenbgc {
  background-color: #010101;
  -webkit-transition: .5s;
  transition: .5s;
}

.underline::before {
  content: "";
  width: auto;
  height: 0.1rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 70%;
  background-color: #bea67c;
}

.main__slider {
  overflow: hidden;
}

.main__slider__list {
  width: 100vw;
  height: 100vh;
}

.main__slider__list-item {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main__slider__list-item h2 {
  font-size: 8.3rem;
  color: #bea67c;
  font-family: Pb;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 2rem;
}

.main__slider__list-item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  color: #fff;
  font-family: Pb;
  text-transform: uppercase;
  border: 0.05rem solid #fff;
  position: relative;
  padding: 1.2rem 5rem;
  margin-top: 3.75rem;
  white-space: pre;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.main__slider__list-item-btn img {
  margin-left: 1rem;
  width: 3.2rem;
}

.main__slider__list-item-btn::before {
  content: "";
  position: absolute;
  left: 0;
  right: auto;
  top: auto;
  width: 25%;
  height: 100%;
  background-color: rgba(190, 166, 124, 0.75);
  opacity: .6;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  display: none;
}

.main__slider__list-item-btn:hover img {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
}

.main__slider__list-item-slider {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

.main__bottom {
  position: absolute;
  left: auto;
  right: auto;
  top: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  padding-bottom: 3rem;
  width: 100%;
}

.main__bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__bottom-left-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4.2rem;
  color: #bea67c;
  font-family: Pb;
  text-transform: uppercase;
}

.main__bottom-left-number h2 {
  padding: 0 1.5rem;
}

.main__bottom-left-number::before {
  content: "";
  width: 4.25rem;
  height: 0.34rem;
  background-color: #bea67c;
}

.main__bottom-left-dotted .dot {
  background-color: #bea67c;
}

.main__bottom-center {
  position: absolute;
  left: 50%;
  right: 50%;
  top: -50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__bottom-center-mouse img {
  margin: -1rem 0 1rem 0;
  width: 1.4rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__bottom-center-arrow {
  -webkit-animation: arroweffect 2s infinite  ease-in;
          animation: arroweffect 2s infinite  ease-in;
}

@-webkit-keyframes arroweffect {
  0% {
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 0;
  }
  100% {
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    opacity: 1;
  }
}

@keyframes arroweffect {
  0% {
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 0;
  }
  100% {
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    opacity: 1;
  }
}

.main__bottom-right {
  width: 14rem;
  height: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: (1fr)[2];
      grid-template: auto/repeat(2, 1fr);
}

.main__bottom-right .--deg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main__bottom-right > div {
  position: relative;
  margin-left: -.1rem;
}

.main__bottom-right-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  right: 10px;
  border: 0.01rem solid #fff;
}

.main__bottom-right-button i {
  display: block;
}

.main__bottom-right-button:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #bea67c;
}

@media screen and (max-width: 767px) {
  .main .main__bottom-left-number h2 {
    padding: inherit;
  }
  .main .main__bottom-left-number::before {
    content: none;
  }
  .main .main__bottom-left-dotted {
    display: none;
  }
  .main .main__bottom-center {
    display: none;
  }
}

.main .products {
  padding-bottom: 0;
}

.main .products__furniture {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .products__furniture__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .products__furniture__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding: 0 2rem 0 8rem;
}

.main .products__furniture__item-text::before {
  content: '';
  width: 7rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  right: auto;
  top: 33.5%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-color: #464646;
  display: block;
}

.main .products__furniture__item-text h2 {
  font-size: 4rem;
  color: #010101;
  font-family: Pb;
  text-transform: uppercase;
  line-height: 8.3rem;
}

.main .products__furniture__item-text p {
  font-size: 1.6rem;
  color: #464646;
  font-family: Pr;
  text-transform: none;
  line-height: 2.2rem;
  margin-bottom: 3.7rem;
  white-space: pre-line;
}

.main .products__furniture__item-text a {
  font-size: 1.4rem;
  color: #010101;
  font-family: Pr;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-decoration: none;
  position: relative;
}

.main .products__furniture__item-text a::before {
  content: '';
  position: absolute;
  left: 0;
  right: auto;
  top: auto;
  width: 3.4rem;
  border-bottom: 0.2rem solid #bea67c;
  margin-bottom: -.4rem;
  bottom: 0;
  display: block;
}

.main .products__furniture__image {
  max-width: 100%;
}

.main .products__furniture__image img {
  max-width: 100%;
}

.main .products__furniture.--reverse {
  direction: rtl;
  margin-top: 10rem;
}

.main .products__furniture.--reverse .products__furniture__item-text {
  padding: 0 8rem 0 2rem;
}

.main .products__furniture.--reverse .products__furniture__item-text::before {
  content: '';
  width: 7rem;
  height: 0.2rem;
  position: absolute;
  left: auto;
  right: 0;
  top: 33.5%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-color: #464646;
  display: block;
}

.main .products__furniture.--reverse .products__furniture__item-text a {
  direction: ltr;
}

.main .products__furniture.--reverse .products__furniture__item-text a::before {
  content: '';
  position: absolute;
  left: 0;
  right: auto;
  top: auto;
  width: 3.4rem;
  border-bottom: 0.2rem solid #bea67c;
  margin-bottom: -.4rem;
  bottom: 0;
  display: block;
}

.main .products__furniture.--reverse .products__furniture__item-text a img {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.main .products__quality {
  padding-bottom: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .products__quality__text {
  position: relative;
  text-align: center;
}

.main .products__quality__text-content {
  margin-bottom: 9rem;
}

.main .products__quality__text-content h2 {
  font-size: 4rem;
  color: #010101;
  font-family: Pb;
  text-transform: uppercase;
  margin-bottom: 2.2rem;
}

.main .products__quality__text-content p {
  font-size: 1.6rem;
  color: #464646;
  font-family: Pr;
  text-transform: none;
  white-space: pre-line;
  line-height: 2rem;
  letter-spacing: .2rem;
}

.main .products__quality__text-content::after {
  content: '';
  width: 3.6rem;
  height: 0.4rem;
  position: absolute;
  left: 48%;
  right: 50%;
  top: 50;
  background-color: #bea67c;
}

.main .products__quality__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .products__quality__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .products__quality__list__item__image {
  position: relative;
  padding: 0 5.5rem;
}

.main .products__quality__list__item__image-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .products__quality__list__item__image-circle img {
  padding: .8rem;
  max-width: 100%;
  border-radius: 100%;
  border: 0.4rem solid #fff;
  outline: none;
  -webkit-box-shadow: 0px 0px 1rem 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 1rem 0px rgba(0, 0, 0, 0.15);
}

.main .products__quality__list__item__image-play {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  width: 4.5rem;
  height: 4.5rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #bea67c;
  max-width: 100%;
  border-radius: 100%;
  opacity: .5;
}

.main .products__quality__list__item__image-play img {
  width: 1.5rem;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main .products__quality__list__item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 1.6rem;
}

.main .products__quality__list__item__text-content {
  font-size: 1.6rem;
  color: #010101;
  font-family: Pr;
  text-transform: none;
  margin-top: 3.8rem;
  line-height: 2rem;
}

.main .products__quality__list__item__text::before {
  content: '';
  position: absolute;
  left: 50%;
  right: 50%;
  top: 0%;
  width: 2rem;
  height: 0.2rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  line-height: 2.4rem;
  background-color: #bea67c;
}

@media screen and (max-width: 867px) {
  .main .products__furniture__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
  }
  .main .products__furniture__item-text {
    padding-bottom: 8rem;
  }
  .main .products__furniture__item-text::before {
    content: '';
    width: 7rem;
    height: 0.2rem;
    position: absolute;
    left: 0;
    right: auto;
    top: 12.5%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    background-color: #464646;
    display: block;
  }
  .main .products .--reverse .products__furniture__item-text {
    padding-bottom: 8rem;
    position: relative;
  }
  .main .products .--reverse .products__furniture__item-text::before {
    content: '';
    width: 7rem;
    height: 0.2rem;
    position: absolute;
    left: auto;
    right: 0;
    top: 12.5%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    background-color: #464646;
    display: block;
  }
  .main .products__quality__list__item__image {
    padding: 0 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .main .products__furniture__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: auto;
        -ms-flex-pack: auto;
            justify-content: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .products__furniture__item-text {
    margin-top: 2rem;
    padding: inherit;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: unset;
  }
  .main .products__furniture__item-text::before {
    content: none;
  }
  .main .products .--reverse .products__furniture__item-text {
    padding: inherit;
  }
  .main .products .--reverse .products__furniture__item-text::before {
    content: none;
  }
  .main .products .--reverse .products__furniture__item-text a {
    direction: ltr;
  }
  .main .products .--reverse .products__furniture__item-text a img {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .main .products .--reverse .products__furniture__item-text a::before {
    content: '';
    position: absolute;
    left: 0;
    right: auto;
    top: auto;
    width: 3.4rem;
    border-bottom: 0.2rem solid #bea67c;
    margin-bottom: -.4rem;
    bottom: 0;
    display: block;
  }
  .main .products__quality {
    padding-bottom: inherit;
  }
  .main .products__quality__text-content p {
    white-space: pre-line;
  }
  .main .products__quality__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: auto;
        -ms-flex-pack: auto;
            justify-content: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .products__quality__list__item {
    padding: 3rem 0;
  }
}

.complexity {
  background: url(../../image/main/main.jpg) no-repeat fixed center;
  background-size: cover;
}

.complexity::before {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: auto;
  background-color: rgba(0, 0, 0, 0.75);
}

.complexity__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
}

.complexity__box-content {
  font-size: 4rem;
  color: #bea67c;
  font-family: Pb;
  text-transform: uppercase;
  line-height: 5rem;
  white-space: pre-line;
  letter-spacing: .25rem;
}

.complexity__box-information {
  font-size: 1.6rem;
  color: #fff;
  font-family: Pr;
  text-transform: none;
  margin-top: 3rem;
  line-height: 2.2rem;
  letter-spacing: .25rem;
}

.complexity__box-information span {
  white-space: pre-line;
}

.complexity__box-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5.8rem;
  border: 0.1rem solid #fff;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  padding: .1rem 5.5rem;
}

.complexity__box-link a {
  font-size: 1.2rem;
  color: #fff;
  font-family: Pr;
  text-transform: uppercase;
  line-height: 5.8rem;
  letter-spacing: .2rem;
  width: 100%;
  text-decoration: none;
}

.complexity__box-link:hover {
  background-color: #bea67c;
}

.complexity__box-link img {
  max-width: 100%;
  margin-right: 1.3rem;
}

@media screen and (max-width: 867px) {
  .complexity__box {
    width: 100%;
    height: 100%;
  }
  .complexity__box-information {
    font-size: 1.4rem;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__box .aboutline {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  position: relative;
}

.about__box .aboutline::before {
  content: '';
  position: absolute;
  left: -2.9rem;
  right: 0;
  top: 18.5%;
  width: 8rem;
  height: 0.1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  border-bottom: 0.2rem solid #bea67c;
  display: block;
}

@media screen and (max-width: 867px) {
  .about .aboutline::before {
    content: '';
    position: absolute;
    left: -2.9rem;
    right: 0;
    top: 14.5%;
    width: 8rem;
    height: 0.1rem;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    border-bottom: 0.2rem solid #bea67c;
    display: block;
  }
  .about .aboutline h2 {
    font-size: 2.5rem;
  }
  .about .aboutline p {
    -webkit-transform: translateX(-24%);
            transform: translateX(-24%);
    white-space: pre;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 767px) {
  .about__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__box .aboutline p {
    -webkit-transform: none;
            transform: none;
    white-space: pre-line;
  }
  .about .products__furniture__image {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .about .about__box .aboutline::before {
    content: none;
  }
}

.gallery {
  background-color: #010101;
  padding: 8.8rem 0 9.3rem 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__text {
  max-width: 100%;
}

.gallery__text h2 {
  font-size: 4rem;
  color: #fff;
  font-family: Pb;
  text-transform: uppercase;
}

.gallery__text p {
  font-size: 1.6rem;
  color: #fff;
  font-family: Pb;
  text-transform: uppercase;
  white-space: pre-line;
  margin-bottom: 5rem;
}

.gallery__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.gallery__grid-item {
  overflow: hidden;
  position: relative;
}

.gallery__grid-item img {
  min-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.gallery__grid-item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.gallery__grid-item.item2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

@media screen and (max-width: 991px) {
  .gallery__grid {
    -ms-grid-rows: none;
        grid-template-rows: none;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .gallery__grid {
    -ms-grid-rows: none;
        grid-template-rows: none;
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

.news {
  padding: 9rem 9rem 9rem 0;
  position: relative;
}

.news__box__text {
  max-width: 100%;
}

.news__box__text h2 {
  font-size: 4rem;
  color: #010101;
  font-family: Pb;
  text-transform: uppercase;
}

.news__box__text p {
  font-size: 1.6rem;
  color: #010101;
  font-family: Pb;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.news__box__mobile {
  padding: 4rem 0;
  display: none;
}

.news__box__mobile-btn {
  border: none;
  color: #010101;
  font-weight: Bold;
}

.news__box__mobile-btn:hover {
  -webkit-transition: .2s;
  transition: .2s;
  background-color: #bea67c;
  color: #fff;
  outline: none;
}

.news__box__mobile button {
  padding: .8rem 2rem;
  margin-right: 2rem;
}

.news__box__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.news__box__grid__list {
  position: relative;
  cursor: pointer;
}

.news__box__grid__list-image {
  overflow: hidden;
}

.news__box__grid__list-image img {
  min-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.news__box__grid__list-image img:hover {
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.news__box__grid__list-text {
  width: 100%;
}

.news__box__grid__list-text a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
  font-size: 1.8rem;
  color: #010101;
  font-family: Pb;
  text-transform: uppercase;
  display: -webkit-inline-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 8rem;
}

.news__box__grid__list-text a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #bea67c;
}

.news__box__grid__list-text a::before {
  content: '';
  width: 8rem;
  height: 0.3rem;
  background-color: #bea67c;
  margin: 2rem 0;
  display: block;
}

.news__box__grid__list-text p {
  font-size: 1.5rem;
  color: #010101;
  font-family: Pb;
  text-transform: uppercase;
  display: -webkit-inline-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-line;
}

@media screen and (max-width: 991px) {
  .news__box__mobile {
    display: block;
  }
  .news__box__grid {
    display: block;
  }
  .news__box__grid__list-image img {
    width: 100%;
  }
  .news__box__grid__list-text {
    height: auto;
    margin-bottom: 3rem;
  }
  .news__box__text p {
    margin-bottom: inherit;
  }
}

.faq {
  padding-top: unset;
}

.faq__list {
  white-space: pre-line;
  font-size: 2rem;
}

.faq__list__question {
  font-size: 4rem;
  color: #010101;
  font-family: Pb;
  text-transform: none;
  opacity: .8;
  margin-bottom: 3rem;
}

.faq__list__question-title {
  line-height: 4rem;
}

.faq__list__anwser {
  font-size: 1.6rem;
  color: #010101;
  font-family: Pb;
  text-transform: none;
  padding: 2rem 0;
}

.faq__list__anwser-button {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  width: 20%;
  border: none;
  border-radius: 2rem;
  padding: .5rem .5rem;
  -webkit-box-shadow: 0px 12px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 12px 0px rgba(0, 0, 0, 0.8);
}

.faq__list__anwser-button::after {
  content: 'x';
  float: right;
  margin-right: 1rem;
  font-size: 2rem;
  color: red;
  font-family: Pb;
  text-transform: none;
}

.faq__list__anwser-button:active {
  position: relative;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
  top: 1rem;
}

.faq__list__anwser-content {
  border-radius: 2rem;
  width: 50%;
  text-align: center;
  padding: 1rem;
  background-color: #bea67c;
  margin-top: 4rem;
  line-height: 2.3rem;
  display: none;
  max-height: 0;
  -webkit-transition: max-height .2s ease-in;
  transition: max-height .2s ease-in;
}

@media screen and (max-width: 867px) {
  .faq__list__question {
    font-size: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .faq__list__question {
    font-size: 2.5rem;
  }
}

.faqshow {
  display: inline-block;
  max-height: 0;
  -webkit-transition: max-height .2s ease-in;
  transition: max-height .2s ease-in;
  position: relative;
}

.faqshow::before {
  content: "1.";
  color: green;
  margin: .7rem;
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
}

.faqafter::after {
  content: 'v';
  float: right;
  margin-right: 1rem;
  font-size: 2rem;
  color: green;
  font-family: Pb;
  text-transform: none;
}

.unsplash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 9rem 0;
  overflow: hidden;
}

.unsplash-item {
  max-width: 100%;
}

.unsplash img {
  padding-right: 2.3rem;
}

@media screen and (max-width: 991px) {
  .unsplash {
    display: none;
  }
}

footer {
  background-color: #010101;
  padding: 1.8rem 0 2.2rem 0;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  color: #b0b0b0;
  font-family: Pb;
  text-transform: uppercase;
  white-space: pre;
}

footer .footer .backtotop a {
  font-size: 1.2rem;
  color: #b0b0b0;
  font-family: Pb;
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  footer .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 4rem;
    padding: inherit;
  }
}

.popup-video {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: auto;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
}

.popup-video .item-popup {
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 580px;
  max-height: 360px;
  border: .2rem solid orange;
}

.popup-video .item-close {
  position: relative;
  top: -100;
  -webkit-transform: translate(-100%, -450%);
          transform: translate(-100%, -450%);
  padding: 1.2rem;
}

.popup-video .item-close::before {
  content: "";
  position: absolute;
  left: auto;
  right: 0;
  top: auto;
  width: 3rem;
  height: 0.1rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: orange;
}

.popup-video .item-close::after {
  content: "";
  position: absolute;
  left: auto;
  right: 0;
  top: auto;
  width: 3rem;
  height: 0.1rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: orange;
}
/*# sourceMappingURL=style.css.map */